@page



    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="background-color:LightGrey">
        <h3 class="display-6">MarmaladeBoard</h3>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="optionsSet">
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="brush" autocomplete="off" checked> <i class="fa fa-paint-brush"></i>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="note" autocomplete="off"> <i class="fa fa-sticky-note"></i>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="text" autocomplete="off"><i class="fa fa-font"></i>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="erase" autocomplete="off"><i class="fa fa-eraser"></i>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="move" autocomplete="off"><i class="fa fa-arrows"></i>
            </label>

        </div>
    </div>

    <div class="droppable" id="parent-div">
        <canvas id="canvas" resize stats hidpi="off"></canvas>
    </div>
    <script src="~/js/dragabble/plain-draggable.min.js"></script>
    <script type="text/javascript" src="~/js/dist/paper-full.js"></script>

    <script type="text/paperscript" src="~/js/paper.js" canvas="canvas"></script>
    <script type="text/javascript" src="~/js/javascript.js"></script>
